.header {
  background-color: #2C323C;
  background-image: url("/assets/images/geometry.svg");
  background-repeat: repeat;
  color: white;
  min-height: 300px;
  padding: 160px 40px;
  padding-bottom: 20px;
  text-align: center;
}

.header h1 {
  margin: 0;
  margin-bottom: 30px;
  font-size: 4rem;
}
.logo{
  height: 50px;
  width: 50px;
}
